# Exercise 13

This particular Automobile Data Set includes a good mix of categorical values as well as continuous values and serves as a useful example that is relatively easy to understand. Since domain understanding is an important aspect when deciding how to encode various categorical values - this data set makes a good case study.

Read the data into Pandas

In [73]:
import pandas as pd

# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )

df.sample(10)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
109,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,3.19,8.4,97.0,5000.0,19,24,12440.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
163,1,168.0,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,29,34,8058.0
35,0,110.0,honda,gas,std,four,sedan,fwd,front,96.5,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,7295.0
84,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145.0,5000.0,19,24,14489.0
176,-1,65.0,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92.0,4200.0,27,32,10898.0
63,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64.0,4650.0,36,42,10795.0
66,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72.0,4200.0,31,39,18344.0
145,0,102.0,subaru,gas,turbo,four,sedan,4wd,front,97.0,...,108,mpfi,3.62,2.64,7.7,111.0,4800.0,24,29,11259.0
100,0,106.0,nissan,gas,std,four,sedan,fwd,front,97.2,...,120,2bbl,3.33,3.47,8.5,97.0,5200.0,27,34,9549.0

In [74]:
df.shape

(205, 26)

In [76]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [77]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

# Exercise 13.1

Does the database contain missing values? If so, replace them using one of the methods explained in class

In [78]:
# check for missing values
df.isnull().sum()

symboling             0
normalized_losses    41
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [79]:
df[df["num_doors"].isnull()]

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
27,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102.0,5500.0,24,30,8558.0
63,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64.0,4650.0,36,42,10795.0

In [80]:
pd.crosstab([df.make,df.body_style], df.num_doors, margins=True, margins_name="Total")

num_doors                  four  two  Total
make          body_style
alfa-romero   convertible     0    2      2
              hatchback       0    1      1
audi          hatchback       0    1      1
              sedan           4    1      5
              wagon           1    0      1
bmw           sedan           5    3      8
chevrolet     hatchback       0    2      2
              sedan           1    0      1
dodge         hatchback       1    4      5
              sedan           2    0      2
              wagon           1    0      1
honda         hatchback       0    7      7
              sedan           4    1      5
              wagon           1    0      1
isuzu         hatchback       0    1      1
              sedan           2    1      3
jaguar        sedan           2    1      3
mazda         hatchback       1    9     10
              sedan           6    0      6
mercedes-benz convertible     0    1      1
              hardtop         0    2      2
              sedan           4    0      4
              wagon           1    0      1
mercury       hatchback       0    1      1
mitsubishi    hatchback       0    9      9
              sedan           4    0      4
nissan        hardtop         0    1      1
              hatchback       1    4      5
              sedan           5    4      9
              wagon           3    0      3
peugot        sedan           7    0      7
              wagon           4    0      4
plymouth      hatchback       1    3      4
              sedan           2    0      2
              wagon           1    0      1
porsche       convertible     0    1      1
              hardtop         0    2      2
              hatchback       0    2      2
renault       hatchback       0    1      1
              wagon           1    0      1
saab          hatchback       0    3      3
              sedan           3    0      3
subaru        hatchback       0    3      3
              sedan           5    0      5
              wagon           4    0      4
toyota        convertible     0    1      1
              hardtop         0    3      3
              hatchback       6    8     14
              sedan           8    2     10
              wagon           4    0      4
volkswagen    convertible     0    1      1
              hatchback       0    1      1
              sedan           7    2      9
              wagon           1    0      1
volvo         sedan           8    0      8
              wagon           3    0      3
Total                       114   89    203

#### Se observa en la tabla anterior que para los body_style = Sedan de las marcas dodge y mazda, el nÃºmero de puertas es 4

In [81]:
df.num_doors.fillna('four', inplace=True)

#### Revisamos nuevo tamaÃ±o de dataframe con valores null

In [82]:
(df[df["num_doors"].isnull()]).shape

(0, 26)

In [83]:
# Eliminar del modelo "normalized_losses". No tengo claro quÃ© mide y mejor la elimino porque tiene muchos valores perdidos
del df['normalized_losses']

In [84]:
df[df["bore"].isnull()]

,symboling,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
55,3,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,10945.0
56,3,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,11845.0
57,3,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
58,3,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,...,80,mpfi,NaN,NaN,9.4,135.0,6000.0,16,23,15645.0

In [85]:
# Teniendo en cuenta que las variables bore y stroke, tienen relaciÃ³n con  compression_ratio y horsepower,
# Se genera una tabla para obtener un valor que pueda ser el insumo para imputar los faltantes en bore y stroke
df.groupby(['compression_ratio','horsepower'])['bore'].mean().to_frame()

                               bore
compression_ratio horsepower
7.00              142.0       3.610
                  145.0       3.590
                  160.0       3.130
7.50              116.0       3.170
                  162.0       3.620
7.60              102.0       3.030
7.70              111.0       3.620
7.80              200.0       3.430
8.00              115.0       3.190
                  120.0       3.760
                  175.0       3.780
                  182.0       3.620
                  184.0       3.800
8.10              176.0       3.630
8.30              140.0       3.130
                  155.0       3.460
8.40              95.0        3.460
                  97.0        3.460
8.50              78.0        3.310
                  88.0        3.348
                  90.0        3.190
                  97.0        3.330
                  110.0       3.190
8.60              84.0        3.390
8.70              73.0        3.620
                  92.0        3.310
                  160.0       3.780
8.80              101.0       3.500
                  134.0       3.580
9.00              62.0        3.050
...                             ...
9.30              161.0       3.270
9.31              110.0       3.540
9.40              68.0        2.970
                  69.0        3.150
                  101.0         NaN
                  112.0       3.240
                  135.0         NaN
9.41              68.0        2.970
9.50              48.0        2.910
                  82.0        3.620
                  114.0       3.780
                  143.0       3.940
                  207.0       3.740
9.60              58.0        2.910
                  70.0        3.030
10.00             100.0       3.190
                  102.0       3.190
                  288.0       3.940
10.10             60.0        2.910
11.50             262.0       3.540
21.00             95.0        3.700
21.50             123.0       3.580
21.90             55.0        2.990
22.00             72.0        3.430
22.50             56.0        3.270
                  73.0        3.270
22.70             64.0        3.390
23.00             52.0        3.010
                  68.0        3.010
                  106.0       3.010

[80 rows x 1 columns]

In [86]:
# Bore
df.loc[55:57, ['bore']]=3.240
df.loc[58, ['bore']]=3.780

In [87]:
df[df["stroke"].isnull()]

,symboling,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
55,3,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,...,70,4bbl,3.24,NaN,9.4,101.0,6000.0,17,23,10945.0
56,3,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,...,70,4bbl,3.24,NaN,9.4,101.0,6000.0,17,23,11845.0
57,3,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,...,70,4bbl,3.24,NaN,9.4,101.0,6000.0,17,23,13645.0
58,3,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,...,80,mpfi,3.78,NaN,9.4,135.0,6000.0,16,23,15645.0

In [88]:
df.groupby(['compression_ratio','horsepower'])['stroke'].mean().to_frame()

                              stroke
compression_ratio horsepower
7.00              142.0        3.210
                  145.0        3.868
                  160.0        3.400
7.50              116.0        3.460
                  162.0        3.150
7.60              102.0        3.390
7.70              111.0        2.640
7.80              200.0        3.270
8.00              115.0        3.400
                  120.0        3.160
                  175.0        3.120
                  182.0        3.390
                  184.0        3.350
8.10              176.0        4.170
8.30              140.0        3.400
                  155.0        3.100
8.40              95.0         2.190
                  97.0         3.190
8.50              78.0         3.230
                  88.0         3.460
                  90.0         3.400
                  97.0         3.470
                  110.0        3.400
8.60              84.0         3.390
8.70              73.0         2.640
                  92.0         3.540
                  160.0        3.150
8.80              101.0        2.800
                  134.0        2.870
9.00              62.0         3.030
...                              ...
9.30              161.0        3.350
9.31              110.0        3.070
9.40              68.0         3.230
                  69.0         3.290
                  101.0          NaN
                  112.0        3.080
                  135.0          NaN
9.41              68.0         3.230
9.50              48.0         3.030
                  82.0         2.640
                  114.0        3.150
                  143.0        3.110
                  207.0        2.900
9.60              58.0         3.410
                  70.0         3.110
10.00             100.0        3.400
                  102.0        3.400
                  288.0        3.110
10.10             60.0         3.070
11.50             262.0        2.760
21.00             95.0         3.520
21.50             123.0        3.640
21.90             55.0         3.470
22.00             72.0         3.640
22.50             56.0         3.350
                  73.0         3.350
22.70             64.0         3.390
23.00             52.0         3.400
                  68.0         3.400
                  106.0        3.400

[80 rows x 1 columns]

In [89]:
# Stroke
df.loc[55:57, ['stroke']]=3.080
df.loc[58, ['stroke']]=3.110

In [90]:
df[df["horsepower"].isnull()]

,symboling,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
130,0,renault,gas,std,four,wagon,fwd,front,96.1,181.5,...,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9295.0
131,2,renault,gas,std,two,hatchback,fwd,front,96.1,176.8,...,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9895.0

In [91]:
# Teniendo en cuenta que las variables horsepower y peak_rpm, tienen relaciÃ³n con  bore y stroke,
# Se genera una tabla para obtener un valor que pueda ser el insumo para imputar los faltantes en horsepower y peak_rpm
df.groupby(['bore','stroke'])['horsepower'].mean().to_frame()

             horsepower
bore stroke
2.54 2.07    110.000000
2.68 3.47    154.000000
2.91 3.03     48.000000
     3.07     60.000000
     3.41     72.400000
2.92 3.41     76.000000
2.97 3.23     68.000000
2.99 3.47     55.000000
3.01 3.40     69.200000
3.03 3.11     70.000000
     3.15     68.000000
     3.39    102.000000
3.05 3.03     62.000000
3.08 3.15     68.000000
3.13 3.40    150.000000
3.15 3.29     69.000000
     3.58     90.833333
3.17 3.46    116.000000
3.19 3.03     70.000000
     3.40     98.461538
3.24 3.08    105.400000
3.27 3.35    117.000000
3.31 3.19    121.000000
     3.23     78.000000
     3.54     92.000000
3.33 3.47     97.000000
3.34 3.46     88.000000
3.35 3.46     88.000000
3.39 3.39     80.666667
3.43 3.23     90.000000
     3.27    162.666667
     3.64     72.000000
3.46 2.19     95.000000
     3.10    155.000000
     3.19     97.000000
     3.90           NaN
3.47 2.68    111.000000
3.50 2.80    101.000000
3.54 2.76    262.000000
     3.07    130.000000
3.58 2.87    134.000000
     3.64    123.000000
     3.86    145.000000
3.59 3.86    145.000000
3.60 3.90    145.000000
3.61 3.21    142.000000
3.62 2.36     69.000000
     2.64     87.818182
     3.15    162.000000
     3.39    182.000000
     3.50    116.000000
3.63 4.17    176.000000
3.70 3.52     95.000000
3.74 2.90    207.000000
3.76 3.16    120.000000
3.78 3.11    135.000000
     3.12    175.000000
     3.15    120.571429
3.80 3.35    184.000000
3.94 3.11    215.500000

In [92]:
# horsepower
df.loc[130:131, ['horsepower']]=145

In [93]:
df.groupby(['bore','stroke'])['peak_rpm'].mean().to_frame()

                peak_rpm
bore stroke
2.54 2.07    5250.000000
2.68 3.47    5000.000000
2.91 3.03    5100.000000
     3.07    5500.000000
     3.41    5760.000000
2.92 3.41    6000.000000
2.97 3.23    5500.000000
2.99 3.47    4800.000000
3.01 3.40    4680.000000
3.03 3.11    5400.000000
     3.15    5000.000000
     3.39    5500.000000
3.05 3.03    4800.000000
3.08 3.15    5000.000000
3.13 3.40    5500.000000
3.15 3.29    5200.000000
     3.58    5750.000000
3.17 3.46    5500.000000
3.19 3.03    4800.000000
     3.40    5442.307692
3.24 3.08    6240.000000
3.27 3.35    4900.000000
3.31 3.19    4250.000000
     3.23    4800.000000
     3.54    4200.000000
3.33 3.47    5200.000000
3.34 3.46    5000.000000
3.35 3.46    5000.000000
3.39 3.39    4775.000000
3.43 3.23    5000.000000
     3.27    5200.000000
     3.64    4200.000000
3.46 2.19    5000.000000
     3.10    4750.000000
     3.19    5000.000000
     3.90            NaN
3.47 2.68    5000.000000
3.50 2.80    5800.000000
3.54 2.76    5000.000000
     3.07    5350.000000
3.58 2.87    5500.000000
     3.64    4350.000000
     3.86    5000.000000
3.59 3.86    5000.000000
3.60 3.90    5000.000000
3.61 3.21    5600.000000
3.62 2.36    4900.000000
     2.64    4763.636364
     3.15    5100.000000
     3.39    5400.000000
     3.50    4800.000000
3.63 4.17    4750.000000
3.70 3.52    4150.000000
3.74 2.90    5900.000000
3.76 3.16    5000.000000
3.78 3.11    6000.000000
     3.12    5000.000000
     3.15    5385.714286
3.80 3.35    4500.000000
3.94 3.11    5625.000000

In [94]:
# peak_rpm
df.loc[130:131, ['peak_rpm']]=5000

In [97]:
df[df["price"].isnull()]

,symboling,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
9,0,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN
44,1,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
45,0,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
129,1,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,...,203,mpfi,3.94,3.11,10.0,288.0,5750.0,17,28,NaN

In [96]:
df.groupby(['make','aspiration','horsepower'])['price'].mean().to_frame()

                                          price
make        aspiration horsepower
alfa-romero std        111.0       14997.500000
                       154.0       16500.000000
audi        std        102.0       13950.000000
                       110.0       17293.333333
                       115.0       17450.000000
            turbo      140.0       23875.000000
                       160.0                NaN
bmw         std        101.0       16677.500000
                       121.0       22213.333333
                       182.0       36318.333333
chevrolet   std        48.0         5151.000000
                       70.0         6435.000000
dodge       std        68.0         6495.800000
                       88.0         8921.000000
            turbo      102.0        8257.500000
                       145.0       12964.000000
honda       std        58.0         6479.000000
                       60.0         5399.000000
                       76.0         7020.600000
                       86.0         9032.500000
                       100.0       10345.000000
                       101.0       12945.000000
isuzu       std        70.0                 NaN
                       78.0         6785.000000
                       90.0        11048.000000
jaguar      std        176.0       33900.000000
                       262.0       36000.000000
mazda       std        64.0        10795.000000
                       68.0         6435.000000
                       72.0        18344.000000
...                                         ...
renault     std        145.0        9595.000000
saab        std        110.0       13642.500000
            turbo      160.0       18385.000000
subaru      std        69.0         5118.000000
                       73.0         7328.000000
                       82.0         7922.000000
                       94.0        10079.000000
            turbo      111.0       11476.500000
toyota      std        56.0         7843.000000
                       62.0         6961.333333
                       70.0         7969.428571
                       92.0        10270.500000
                       112.0        9418.000000
                       116.0       11415.666667
                       156.0       15720.000000
                       161.0       16278.000000
            turbo      73.0        10698.000000
volkswagen  std        52.0         7885.000000
                       85.0         8221.666667
                       88.0        12290.000000
                       90.0        10787.500000
                       100.0        9995.000000
                       110.0       13295.000000
            turbo      68.0        11670.000000
volvo       std        114.0       15140.000000
                       134.0       21485.000000
            turbo      106.0       22470.000000
                       114.0       22625.000000
                       160.0       19045.000000
                       162.0       18685.000000

[91 rows x 1 columns]

In [98]:
# price
df.loc[9, ['price']]=23875
df.loc[44:45, ['price']]=6785
df.loc[129, ['price']]=37028

In [99]:
# check for missing values
df.isnull().sum()

symboling            0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

# Exercise 13.2

Split the data into training and testing sets

Train a Random Forest Regressor to predict the price of a car using the nominal features

In [100]:
# Dummy y categoricas sobre X train y se aplican en test
# Guarda el Ã­ndice y para ECM, selecciona indices que no son de train
num_df = df.select_dtypes(include=['float64', 'int64']).copy()
num_df.head()

,symboling,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [101]:
num_df.shape

(205, 15)

In [102]:
# define X and y
yn = num_df['price']
Xn = num_df.drop(['price'], axis=1)

In [104]:
from sklearn.ensemble import RandomForestRegressor

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [107]:
from sklearn.model_selection import cross_val_score
(((pd.Series(cross_val_score(RandomForestRegressor(n_estimators=10, n_jobs=-1), Xn, yn, cv=10, scoring='neg_mean_squared_error')).describe())*-1)**(0.5))['mean']

3095.3045313534303

# Exercise 13.3

Create dummy variables for the categorical features

Train a Random Forest Regressor and compare

In [108]:
df_dum = pd.get_dummies(df)

In [109]:
df_dum.shape

(205, 75)

In [110]:
# define X and y
Xd = df_dum.drop(['price'], axis=1)
yd = df_dum.price

In [111]:
(((pd.Series(cross_val_score(RandomForestRegressor(n_estimators=10, n_jobs=-1), Xd, yd, cv=10, scoring='neg_mean_squared_error')).describe())*-1)**(0.5))['mean']

3118.14857835741

# Exercise 13.4

Apply two other methods of categorical encoding

compare the results

### Binary

In [119]:
import category_encoders as ce # Importa libreria a usar
# define X and y
Xb = df.drop(['price'], axis=1)
yb = df.price

Xb_ = ce.BinaryEncoder().fit_transform(Xb) # BinaryEncoder() - No crea dummys sino binarios de cada categorÃ­a y luego una columna por cada bit
# ce.BinaryEncoder() - Se usa cuando se tienen muchas categorÃ­as

In [120]:
Xb_.head()

,make_0,make_1,make_2,make_3,make_4,make_5,fuel_type_0,fuel_type_1,aspiration_0,aspiration_1,...,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg
0,0,0,0,0,0,1,0,1,0,1,...,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
1,0,0,0,0,0,1,0,1,0,1,...,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
2,0,0,0,0,0,1,0,1,0,1,...,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26
3,0,0,0,0,1,0,0,1,0,1,...,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30
4,0,0,0,0,1,0,0,1,0,1,...,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22

In [121]:
(((pd.Series(cross_val_score(RandomForestRegressor(n_estimators=10, n_jobs=-1), Xb_, yb, cv=10, scoring='neg_mean_squared_error')).describe())*-1)**(0.5))['mean']

2932.2452499401456

### Feature Hashing

In [124]:
# define X and y
Xh = df.drop(['price'], axis=1)
yh = df.price

In [125]:
Xh_ = ce.HashingEncoder(n_components=8).fit_transform(Xh) # RepresentaciÃ³n ordinal de todas las categorÃ­as. Genera el mismo nÃºmero de variables inicial

In [126]:
Xh_.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,symboling,wheel_base,...,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg
0,1,1,1,2,1,2,2,0,3,88.6,...,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
1,1,1,1,2,1,2,2,0,3,88.6,...,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
2,1,1,0,1,2,2,2,1,1,94.5,...,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26
3,3,0,2,0,2,1,1,1,2,99.8,...,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30
4,3,0,1,0,1,2,2,1,2,99.4,...,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22

In [127]:
(((pd.Series(cross_val_score(RandomForestRegressor(n_estimators=10, n_jobs=-1), Xh_, yh, cv=10, scoring='neg_mean_squared_error')).describe())*-1)**(0.5))['mean']

3197.6820005009

#### Se observa en las 3 metodologÃ­as usadas en el ejercicio, que la que alcanza mejores estimaciones es la realizada con el mÃ©todo Feature Hashing